:root {
  --first-text-color: #212121;
  --second-text-color: #ffffff;
  --third-text-color: #757575;
  --fourth-text-color: #2196f3;
  --fifth-text-color: #000000;
  --sixth-text-color: #f5f4fa;
  --seventh-text-color: rgba(255, 255, 255, 0.6);
  --eights-text-color: #2f303a;
  --ninth-text-color: #ececec;
  --tenth-social-color: #afb1b8;
  --eleventh-social-color: rgba(255, 255, 255, 0.1);
  --twelve-grad-color: rgba(47, 48, 58, 0.4);
  --thirteen-layer-color: rgba(47, 48, 58, 0.8);
  --fourteen-text-color: rgba(255, 255, 255, 0.6);
  --transition-duration: 250ms;
  --transition-function: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-property: background-color, color, fill;
  /* transition-property:var(--transition-property); */
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

*:before, *:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a {
  text-decoration: none;
}

a:visited, a:hover {
  text-decoration: none;
}

ul,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

button {
  cursor: pointer;
}

.hightitle,
.whatwedotitle,
.teamtitle,
.teammember {
  color: var(--first-text-color);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header-con__nav-list,
.header-con,
.headercontacts,
.header-con__container,
.header-con__nav,
.highlights ul,
.whatwedo ul,
.team ul,
.buttonsfilt {
  align-items: center;
  display: flex;
}

.highlights ul,
.whatwedo ul,
.team ul,
.buttonsfilt {
  justify-content: center;
}

.linkcolor:hover,
.contactcolor:hover,
.linkcolor:focus,
.contactcolor:focus,
.header-con__logoweb {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  color: var(--fourth-text-color);
}

.banertitle,
.banerbutton,
.adress,
.studio {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  color: var(--second-text-color);
  font-style: normal;
  font-weight: 400;
}

.whatwedo li,
.team li {
  margin-right: 30px;
  background-color: var(--second-text-color);
}

.highlights li:last-child,
.whatwedo li:last-child,
.team li:last-child {
  margin-right: 0px;
}

body {
  background-color: var(--second-text-color);
  color: var(--third-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;
  font-size: 14px;
  line-height: 1.7;
  list-style: none;
}

body.modal-open {
  overflow: hidden;
}

.header-con {
  border-style: solid;
  border-width: 0.5px;
  border-top-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  border-bottom-color: var(--ninth-text-color);
  justify-content: center;
  align-items: center;
  display: flex;
}

.header-con__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (max-width: 768px) {
  .header-con__container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .header-con__container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .header-con__container {
    width: 1200px;
  }
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.formcontainer {
  display: flex;
  position: absolute;
  left: 600px;
  width: 600px;
  top: 12 px;
}

.header-con__buttons {
  line-height: 1.14;
  letter-spacing: 0.02em;
  position: relative;
}

@media screen and (max-width: 767px) {
  .header-con__buttons {
    display: none;
  }
}

.buttonsfilt button:hover, .buttonsfilt button:focus {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  color: var(--second-text-color);
  font-style: normal;
  font-weight: 400;
}

.banerbutton {
  background-color: var(--fourth-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  width: 200px;
  height: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  border-radius: 4px;
  border-style: none;
}

.buttonsfilt {
  margin-bottom: 50px;
}

.buttonsfilt li {
  margin-right: 8px;
}

.buttonsfilt li:last-child {
  margin-right: 8px;
}

.buttonsfilt button {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  background-color: var(--sixth-text-color);
  color: var(--first-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border-style: none;
  border-radius: 4px;
  padding-bottom: 6px;
  padding-top: 6px;
  padding-left: 22px;
  padding-right: 22px;
}

.buttonsfilt button:hover, .buttonsfilt button:focus {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  background-color: var(--fourth-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.buttonsub {
  position: absolute;
  background-color: var(--fourth-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--second-text-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: 12px;
  left: 354px;
  top: 20px;
}

.hightitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.banertitle {
  font-family: Roboto, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
  padding-top: 200px;
}

.whatwedotitle,
.teamtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.footsoctitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-text-color);
  margin-bottom: 20px;
}

.portbody h2 {
  font-weight: 500;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.header-con li:not(:last-child) {
  margin-right: 40px;
}

/* Logo */
.header-con__logo {
  display: flex;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  color: var(--fifth-text-color);
}

@media screen and (max-width: 767px) {
  .header-con__logo {
    display: flex;
  }
}

.icon-mail,
.icon-phone {
  fill: currentColor;
}

.linkcolor {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  color: var(--first-text-color);
}

.contactcolor {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  color: var(--third-text-color);
}

.header-con__nav {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .header-con__nav {
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (min-width: 768px) {
  .header-con__nav {
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

@media screen and (min-width: 1200px) {
  .header-con__nav {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}

@media screen and (max-width: 767px) {
  .header-con__nav-list {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .headercontacts {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .headercontacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    align-items: flex-start;
  }
}

@media screen and (min-width: 1200px) {
  .headercontacts {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .headercontacts li:first-child {
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1200px) {
  .headercontacts li:first-child {
    margin-right: 30px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .headercontacts li:last-child {
    display: flex;
    align-items: center;
  }
}

.headercontacts li:last-child a {
  display: flex;
}

.headercontacts li:last-child svg {
  display: flex;
}

.current {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  color: var(--fourth-text-color);
}

.current::after {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  bottom: -32px;
  width: 100%;
  height: 4px;
  background-color: var(--fourth-text-color);
  opacity: 1;
  transform: scaleX(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 50px;
}

.current:hover::after {
  opacity: 0.3;
  transform: scaleY(-0.3) scaleX(-1.1);
}

.baner {
  background-color: var(--eights-text-color);
  margin-left: auto;
  margin-right: auto;
}

.baner {
  justify-content: center;
  align-items: center;
}

.bgbaner {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  max-width: 1600px;
  height: 600px;
  background-image: radial-gradient(at center, var(--twelve-grad-color) 20%, var(--twelve-grad-color) 80%), url("../images/bg.jpg");
  /* background-image: url("../images/bg.jpg") */
}

main p {
  font-weight: 400;
}

.soclinkfooter {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  color: var(--tenth-social-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0 0 0 0;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  box-shadow: none;
  background-color: var(--eleventh-social-color);
  color: var(--second-text-color);
}

.soclinkfooter:hover, .soclinkfooter:focus {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  color: var(--second-text-color);
  background-color: var(--fourth-text-color);
}

.connectsocial,
.footersocial,
.soclinkfooter,
footer {
  display: flex;
  justify-content: center;
}

.connectsocial li:not(:last-child) {
  margin-right: 10px;
}

.footer {
  display: flex;
  background-color: var(--eights-text-color);
  padding-top: 60px;
  padding-bottom: 60px;
  justify-content: flex-start;
  align-items: center;
}

.allfooter {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.adress {
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer li {
  /* margin-top: 9px; */
  margin-bottom: 9px;
}

.containerfooter {
  padding-left: 15px;
  margin-right: 84px;
}

.icon-sendf {
  margin-left: 10px;
  fill: currentColor;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.1);
}

.modal {
  position: absolute;
  display: flex;
  top: 50%;
  left: 50%;
  background-color: #fff;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .modal {
    min-height: 609px;
    min-width: 450px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    min-height: 581px;
    min-width: 528px;
  }
}

.modal-title {
  position: absolute;
  top: 40px;
  left: 40px;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--first-text-color);
}

.data-close-modal {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 100%;
  box-shadow: none;
  width: 30px;
  height: 30px;
  background-color: var(--second-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.data-close-modal:hover .icon-closef,
.data-close-modal:focus .icon-closef {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  fill: var(--fourth-text-color);
}

.icon-closef {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--fifth-text-color);
  /* background-color: tomato; */
}

.name-field-form {
  position: absolute;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--third-text-color);
}

.field-form {
  position: absolute;
  padding-left: 45px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
}

@media screen and (max-width: 1199px) {
  .field-form {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .field-form {
    width: 448px;
  }
}

.icon-form {
  position: absolute;
  width: 18px;
  height: 18px;
}

.comment-field {
  resize: none;
  position: absolute;
  height: 120px;
  left: 40px;
  top: 297px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  padding-right: 16px;
}

@media screen and (max-width: 1199px) {
  .comment-field {
    width: 370px;
  }
}

@media screen and (min-width: 1200px) {
  .comment-field {
    width: 448px;
  }
}

.comment-name-pos {
  left: 40px;
  top: 279px;
}

.field {
  position: absolute;
  display: flex;
  align-items: center;
  left: 52px;
  top: 442px;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.iconchkb {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-right: 5px;
  border: 2px solid #2a2a2a;
  border-radius: 4px;
  transition: transform 250ms linear;
}

.checkbox:checked + .iconchkb {
  transform: scale(1.2);
  border-color: transparent;
  background-color: var(--fourth-text-color);
  /* background-image: url("../images/sprite.svg#icon-full-check"); */
  background-image: url("../images/full-check.svg");
  background-size: contain;
  background-origin: border-box;
}

.label {
  transition: transform 250ms linear;
}

.checkbox:checked ~ .label {
  transform: translateX(20px);
}

.chekbox-form:checked:before {
  color: black !important;
}

.name-chekbox-form {
  position: absolute;
  width: 400.62px;
  height: 24px;
  left: 76.38px;
  top: 437px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1, 71px;
  letter-spacing: 0.03em;
  color: #757575;
}

.chekbox-policy {
  text-decoration: underline;
  color: var(--fourth-text-color);
}

.name-pos {
  position: absolute;
  left: 40px;
  top: 75px;
}

.form-cont-name:hover .name-pos-icon,
.form-cont-name:focus .name-pos-icon {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  fill: var(--fourth-text-color);
}

.phone-pos {
  position: absolute;
  left: 40px;
  top: 143px;
}

.form-cont-phone:hover .phone-pos-icon,
.form-cont-phone:focus .phone-pos-icon {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  fill: var(--fourth-text-color);
}

.mail-pos {
  position: absolute;
  left: 40px;
  top: 211px;
}

.form-cont-mail:hover .mail-pos-icon,
.form-cont-mail:focus .mail-pos-icon {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  fill: var(--fourth-text-color);
}

.name-form-pos {
  position: absolute;
  left: 40px;
  top: 93px;
}

.phone-form-pos {
  position: absolute;
  left: 40px;
  top: 161px;
}

.mail-form-pos {
  position: absolute;
  left: 40px;
  top: 229px;
}

.name-pos-icon {
  position: absolute;
  left: 52px;
  top: 104px;
}

.phone-pos-icon {
  position: absolute;
  left: 52px;
  top: 172px;
}

.mail-pos-icon {
  position: absolute;
  left: 52px;
  top: 240px;
}

@media screen and (max-width: 1199px) {
  .field {
    font-size: 12px;
  }
}

@media screen and (min-width: 1200px) {
  .field {
    font-size: 14px;
  }
}

.btn-form-submit {
  position: absolute;
  background-color: var(--fourth-text-color);
  font-family: Roboto, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  border-style: none;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: var(--second-text-color);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 28px;
  padding-right: 28px;
  margin-left: 12px;
  bottom: 40px;
}

@media screen and (max-width: 1199px) {
  .btn-form-submit {
    left: 125px;
  }
}

@media screen and (min-width: 1200px) {
  .btn-form-submit {
    left: 164px;
  }
}

.menu-button {
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 2;
}

@media screen and (min-width: 768px) {
  .menu-button {
    display: none;
  }
}

.menu-button:hover .icon-cross,
.menu-button:focus .icon-menu {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  fill: var(--fourth-text-color);
}

.menu-button .icon-cross {
  display: none;
}

.menu-button.is-open .icon-cross {
  display: block;
  z-index: 2;
}

.menu-button.is-open .icon-menu {
  display: none;
}

.header-con__nav-menu-btnlist {
  display: flex;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.17;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 48px;
  padding-left: 40px;
}

.header-con__nav-menu-btnlist .current::after {
  display: none;
}

.header-con__nav-menu-btnlist li:not(:last-child) {
  margin-bottom: 32px;
}

.header-con__nav-menu-contlist {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 64px;
}

.header-con__nav-menu-contlist li:first-child a {
  font-weight: 500;
  font-size: 34px;
  line-height: 1.17;
  color: var(--fourth-text-color);
  letter-spacing: 0.02em;
}

.header-con__nav-menu-contlist li:not(:last-child) {
  margin-bottom: 32px;
}

.header-con__nav-menu-soclist li a {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;
  color: var(--fourth-text-color);
  display: flex;
}

.header-con__nav-menu-soclist {
  display: flex;
}

.header-con__nav-menu-soclist li:not(:last-child) {
  margin-right: 10px;
  padding-right: 10px;
  border-style: solid;
  border-width: 0.5px;
  border-top-width: 0;
  border-left-width: 0;
  border-bottom-width: 0;
  border-right-color: rgba(33, 33, 33, 0.2);
}

.header-con__menu {
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  padding-bottom: 48px;
}

.menu-container {
  position: absolute;
  background-color: var(--second-text-color);
  text-align: center;
  font-size: 20px;
  z-index: 1;
}

@media screen and (max-width: 767px) {
  .menu-container {
    display: none;
    position: absolute;
    top: 0%;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  .menu-container.is-open {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}

@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.navigation,
.contacts {
  height: 50px;
  width: 140px;
}

.navigation {
  outline: 1px solid teal;
}

.contacts {
  outline: 1px solid orange;
}

.highlights {
  padding-bottom: 47px;
  padding-top: 94px;
}

.highlights li {
  margin-right: 30px;
  background-color: var(--second-text-color);
}

.highlights li {
  width: 270px;
}

.highbgicon {
  display: flex;
  background-color: var(--sixth-text-color);
  width: 270px;
  height: 120px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

.whatwedo img,
.teamlist img {
  max-width: 100%;
  height: auto;
}

.whatwedo li {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  overflow: hidden;
}

.whatwedotext {
  background-color: var(--thirteen-layer-color);
  flex-shrink: 0;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  right: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.team {
  background-color: var(--sixth-text-color);
  padding-top: 94px;
  padding-bottom: 94px;
}

.team li {
  width: 270px;
  border-style: none;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.teammember {
  font-weight: 500;
}

.teamcont {
  padding-top: 30px;
  margin-bottom: 30px;
}

.teammember {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.teamrole {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 10px;
  font-weight: 400;
}

.clientssec {
  padding-bottom: 94px;
  padding-top: 94px;
}

.clientcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientcontainer ul {
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clientlink {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border-style: solid;
  border-radius: 4px;
  border-width: 1px;
  border-color: var(--tenth-social-color);
  fill: var(--tenth-social-color);
}

.clientlink:hover, .clientlink:focus {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  fill: var(--fourth-text-color);
  border-color: var(--fourth-text-color);
}

.clientcontainer li:not(:last-child) {
  margin-right: 30px;
}

/* Contacts */
.contacts {
  color: var(--seventh-text-color);
  font-weight: 400;
}

.portbody {
  color: var(--first-text-color);
}

.portmain {
  margin-left: auto;
  margin-right: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.porttype {
  color: var(--third-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portlist {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
  margin-bottom: -30px;
}

.portlist h2 {
  font-weight: 700;
  margin-bottom: 4px;
}

.portlist li {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  padding-left: 0;
  border-style: solid;
  border-width: 1px;
  border-color: #eeeeee;
  width: calc(100% / 3 - 30px);
  /* width: calc((100% - 60px) / 3)
calc(100%  / 3 - 30px); */
}

.portlist li:hover, .portlist li:focus {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(22, 15, 15, 0.16);
}

.portlist img {
  max-width: 100%;
  height: auto;
}

.porttextcont {
  font-weight: normal;
  font-size: 18px;
  line-height: 1.56;
  color: var(--second-text-color);
  letter-spacing: 0.03em;
  align-items: center;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 63px;
  padding-bottom: 63px;
}

.portcart {
  position: relative;
  overflow: hidden;
}

.portoverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--fourth-text-color);
  opacity: 80;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portlist li:hover .portoverlay {
  transform: translateY(0);
  opacity: 60%;
}

.portlistcont {
  padding-left: 24px;
  padding-right: 24px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.portlist li {
  margin-right: 30px;
  margin-bottom: 30px;
}

.portlist :nth-child(3n) {
  margin-right: 0;
}

.portlist :nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.subscribe {
  position: absolute;
  top: -20px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.form-sub-field {
  position: relative;
  margin-bottom: 20px;
}

.form-label {
  color: var(--fourteen-text-color);
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateX(-50%);
  transition: transform 250ms linear;
  font-weight: normal;
  align-items: center;
}

.form-input {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  padding: 10px 20px;
  padding-left: 40px;
  font: inherit;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: var(--fourth-text-color);
  font-size: 20px;
}

.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: var(--fourth-text-color);
  font-weight: 700;
  transform: translateX(-100px);
}

.sociallink {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: var(--second-text-color);
}

.sociallink .item {
  box-shadow: none;
  margin: 0 0 0 0;
}

.sociallink .item:not(:last-child) {
  margin-right: 10px;
}

.soclink {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  color: var(--tenth-social-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  margin: 0 0 0 0;
  width: 44px;
  height: 44px;
  border-radius: 100%;
  box-shadow: none;
}

.soclink:hover, .soclink:focus {
  transition-duration: var(--transition-duration);
  transition-timing-function: var(--transition-function);
  transition-property: var(--transition-property);
  color: var(--second-text-color);
  background-color: var(--fourth-text-color);
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: currentColor;
}

.connectsocial {
  flex-direction: column;
  position: absolute;
  left: 316px;
  top: 12px;
}
/*# sourceMappingURL=main.css.map */