.baner {
    background-color: var(--eights-text-color);
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;
}

.bgbaner {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    @media screen and (max-width: 768px) {
        background-image: radial-gradient( at center, var(--twelve-grad-color) 20%, var(--twelve-grad-color) 80%), url("../images/hero/overlay-mob-1x.jpg");
        max-width: 480px;
        height: 400px;
    }
    // @media (min-device-pixel-ratio: 2),
    // (-webkit-min-device-pixel-ratio: 2),
    // (min-resolution: 192dpi),
    // (min-resolution: 2dppx) {
    //     .bgbaner {
    //         background-image: url("../images/hero/overlay-mob-1x.jpg");
    //     }
    @media screen and (min-width: 768px) {
        background-image: radial-gradient( at center, var(--twelve-grad-color) 20%, var(--twelve-grad-color) 80%), url("../images/hero/overlay-tablet-1x.jpg");
        max-width: 768px;
        height: 400px;
    }
    @media screen and (min-width: 1200px) {
        background-image: radial-gradient( at center, var(--twelve-grad-color) 20%, var(--twelve-grad-color) 80%), url("../images/hero/overlay-desktop-1x.jpg");
        max-width: 1600px;
        height: 600px;
    }
}

main p {
    font-weight: 400;
}