@media screen and (max-width: 767px) {
    .clientssec {
        padding-bottom: 30px;
        padding-top: 60px;
    }
}

@media screen and (min-width: 768px) {
    .clientssec {
        padding-bottom: 30px;
        padding-top: 60px;
    }
}

@media screen and (min-width: 1200px) {
    .clientssec {
        padding-bottom: 94px;
        padding-top: 94px;
    }
}

.clientcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    ul {
        display: flex;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.clientlink {
    transition-duration: var(--transition-duration);
    transition-timing-function: var(--transition-function);
    transition-property: var(--transition-property);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 92px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    border-color: var(--tenth-social-color);
    fill: var(--tenth-social-color);
    &:hover,
    &:focus {
        transition-duration: var(--transition-duration);
        transition-timing-function: var(--transition-function);
        transition-property: var(--transition-property);
        fill: var(--fourth-text-color);
        border-color: var(--fourth-text-color);
    }
}

.clientcontainer li:not(:last-child) {
    margin-right: 30px;
}


/* Contacts */

.contacts {
    color: var(--seventh-text-color);
    font-weight: 400;
}

.clientcontainer ul {
    @media screen and (max-width: 767px) {
        flex-wrap: wrap;
        margin-top: -30px;
    }
    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
    }
    @media screen and (min-width: 1200px) {}
}

.clientcontainer li a {
    @media screen and (max-width: 767px) {
        width: 210px;
    }
    @media screen and (min-width: 768px) {
        width: 226px;
    }
    @media screen and (min-width: 1200px) {
        width: 170px;
    }
}

.clientcontainer {
    @media screen and (max-width: 767px) {
        width: 450px;
        align-content: center;
        justify-content: center;
    }
    @media screen and (min-width: 768px) {
        width: 738px;
        align-content: center;
        justify-content: center;
    }
    @media screen and (min-width: 1200px) {
        width: 1170px;
        align-content: center;
        justify-content: center;
    }
}

.clientcontainer li {
    margin-bottom: 30px;
}

@media screen and (max-width: 767px) {
    .clientcontainer li:nth-child(2n) {
        margin-right: 0px;
    }
}

@media screen and (min-width: 768px) {
    .clientcontainer li:nth-child(3n) {
        margin-right: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .clientcontainer li:not(:last-child) {
        margin-right: 30px;
    }
    .clientcontainer li {
        margin-bottom: 0px;
    }
}

.client-cont {
    display: flex;
    align-content: center;
    justify-content: center;
    min-width: 450px;
}