.team {
    background-color: var(--sixth-text-color);
    padding-top: 94px;
    padding-bottom: 94px;
    li {
        width: 270px;
        border-style: none;
        box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
        border-radius: 0px 0px 4px 4px;
    }
}

.teammember {
    font-weight: 500;
}

.teamcont {
    padding-top: 30px;
    margin-bottom: 30px;
}

.teammember {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.teamrole {
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    margin-top: 10px;
    font-weight: 400;
}

.teamlist {
    @media screen and (max-width: 767px) {
        flex-direction: column;
        margin-right: 0;
        margin-bottom: -30px;
    }
    @media screen and (min-width: 768px) {
        flex-wrap: wrap;
        margin-right: -30px;
        margin-bottom: -30px;
    }
}

@media screen and (min-width: 1200px) {}

.team li {
    @media screen and (max-width: 767px) {
        margin-right: 0;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 768px) {
        margin-right: 30px;
        margin-bottom: 30px;
    }
    @media screen and (min-width: 1200px) {}
}

// @media screen and (max-width: 767px) {
//     .team li:nth-child(1n) {
//         margin-right: 0px;
//     }
//     .team li:nth-last-child(-n + 1) {
//         margin-bottom: 0px;
//     }
// }
@media screen and (min-width: 768px) {
    .team li:nth-child(2n) {
        margin-right: 0px;
    }
    .team li:nth-last-child(-n + 2) {
        margin-bottom: 0px;
    }
}

@media screen and (min-width: 1200px) {
    .team li:not(:last-child) {
        margin-right: 30px;
    }
    .team li {
        margin-bottom: 0px;
    }
}

// .team li:nth-child(2n) {
//     @media screen and (min-width: 768px) {
//         margin-right: 0px;
//     }
// }
// .team li:nth-last-child(-n + 2) {
//     @media screen and (min-width: 768px) {
//         margin-bottom: 0px;
//     }
// }